@font-face {
    font-family: HeaderFont;
    src: url(fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: navfont1;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

@font-face {
    font-family: navfont2;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

@font-face {
    font-family: navfont3;
    src: url(fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf);
}

@font-face {
    font-family: paragraphfont1;
    src: url(fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf);
}

@font-face {
    font-family: headerFont2;
    src: url(fonts/Bungee_Outline/BungeeOutline-Regular.ttf);
}

body {
    margin: 0;
    background-image: url(images/background1.jpg);
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    height: 100%;
    width: 80vw;

    background-color: rgba(0, 0, 0, 0.2);

    margin-top: 45px;
    border-radius: 20px;
}

h1 {
    font-family: HeaderFont;
    color: lightgrey;
    font-size: 80px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}

nav {
    display: flex;
    gap: 5px;
    margin: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

nav a {
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 10px;
    padding: 15px;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-family: navfont1;
    font-size: 30px;

    flex-basis: 0;
    flex-grow: 1;
}

nav > a:nth-of-type(2) {
    font-family: navfont2;
    box-shadow: 0px 0px 10px rgba(255, 255, 255);
    border: 1px solid white;
    pointer-events: none;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

ul {
    list-style: none;

    margin-top: 0;
    margin-bottom: 50px;
}

h2 {
    font-family: HeaderFont2;
    color: lightgray;
    margin: 0;
    font-size: 30px;
}

h3 {
    margin: 0;
    font-family: navfont3;
    color: lightgray;
    font-size: 27px;
}

p, ul {
    font-family: paragraphfont1;
    color: lightgray;
}

ol {
    background-color: rgb(255, 217, 40);
    width: 100%;
    margin-top: 5px;
    padding: 20px;
}

.box {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;

    display: flex;
}

.box > div > img:nth-of-type(1) {
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 1;
    transition: opacity 1s;
}

.box > div > img:nth-of-type(2) {
    width: 100%;
    height: 68.5%;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.box > div > img:nth-of-type(1):hover {
    opacity: 0;
}

.box > div > p:nth-of-type(1) {
    padding-top: 40px;
    margin-bottom: 0;
}

.box > div:nth-child(1) {
    width: 60%;
}

.box > div:nth-child(2) {
    width: 40%;
    position: relative;
}

.box > div:nth-child(2) > div {
    display: flex;
    gap: 10px;
}

.box > div:nth-child(2) > div > div {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

.box > div:nth-child(2) > div > div:nth-child(1) > ol {
    border-radius: 0 0 0 20px;
}

.box > div:nth-child(2) > div > div:nth-child(2) > ol {
    border-radius: 0 0 20px 0;
}

.box > div:nth-child(2) > div > div:nth-child(1) > ol > p {
    padding: 0;
    margin: 0;
    font-size: 13px;


    color: rgb(171, 94, 142);
}

.box > div:nth-child(2) > div > div:nth-child(2) > ol > p {
    padding: 0;
    margin: 0;
    font-size: 13px;


    color: rgb(171, 94, 142);
}

.box > div:nth-child(2) > div > div:nth-child(1) > ol > p:nth-child(1){
    font-family: navfont3;
    font-size: 20px;
}

.box > div:nth-child(2) > div > div:nth-child(2) > ol > p:nth-child(1) {
    font-family: navfont3;
    font-size: 20px;
}

.box > div:nth-child(3) {
    display: grid;
}